pipeline/GenericPipeline.json
{
	"name": "GenericPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetListOfTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select id,sourcedb,sourceschema,sourcetablename,destdb,destschema,desttablename from [tbl_Staging_All] where isactiveflag='Y'\norder by id",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTbl_DMALL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDBTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListOfTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListOfTables').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}