pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_PipelineFlow_Master_StartTime]",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@pipeline().parameters.id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"databasename": "dev_renaliq_dm_all"
					}
				}
			},
			{
				"name": "GetListOfTables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select id,sourcedb,sourceschema,sourcetablename,destdb,destschema,desttablename from [tbl_Staging_Pipeline_Details] where isactiveflag=''Y'' and pipelineid=',string(pipeline().parameters.id),' order by id ')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_DM_ALL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDBTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListOfTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListOfTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Dynamic Data Copy from Source to Destn",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait For 5 Secs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select ''',replace(item().sourcedb,'dev_renaliq_dm_',''),''' as Client,* from ',item().sourceschema,'.',item().sourcetablename) ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{if(pipeline().parameters.Overwrite, concat('delete from ',item().destschema,'.',item().desttablename,' where Client=''',replace(item().sourcedb,'dev_renaliq_dm_',''),''';'),'SELECT 1;')}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTableSource",
									"type": "DatasetReference",
									"parameters": {
										"databasename": {
											"value": "@item().sourcedb",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@item().sourceschema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().sourcetablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableDestination",
									"type": "DatasetReference",
									"parameters": {
										"databasename": {
											"value": "@item().destdb",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@item().destschema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().desttablename",
											"type": "Expression"
										},
										"Overwrite": {
											"value": "FALSE",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Wait For 5 Secs",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Stored procedure3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Stored procedure2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Dynamic Data Copy from Source to Destn",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_PipelineDetails_EndTime]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipelineid": {
										"value": {
											"value": "@pipeline().parameters.id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseDestination",
								"type": "LinkedServiceReference",
								"parameters": {
									"databasename": "dev_renaliq_dm_all"
								}
							}
						},
						{
							"name": "Stored procedure3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_PipelineDetails_StartTime]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipelineid": {
										"value": {
											"value": "@pipeline().parameters.id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseDestination",
								"type": "LinkedServiceReference",
								"parameters": {
									"databasename": "dev_renaliq_dm_all"
								}
							}
						}
					]
				}
			},
			{
				"name": "Stored procedure4",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachDBTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_PipelineFlow_Master_EndTime]",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@pipeline().parameters.id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"databasename": "dev_renaliq_dm_all"
					}
				}
			}
		],
		"parameters": {
			"id": {
				"type": "int"
			},
			"Overwrite": {
				"type": "bool"
			}
		},
		"annotations": []
	}
}